[Unit]
Description=Elasticsearch Exporter
After=network.target

[Service]
ExecStart={{ elasticsearch_exporter_symlink }} \
            -es.uri {{ elasticsearch_exporter_es_uri }} \
            -es.all {{ elasticsearch_exporter_es_all }} \
            -es.indices {{ elasticsearch_exporter_es_indices }} \
            -es.shards {{ elasticsearch_exporter_es_shards }} \
            -es.timeout {{ elasticsearch_exporter_es_timeout }} \
            -es.ssl-skip-verify {{ elasticsearch_exporter_es_ssl_skip_verify }} \
            -web.listen-address {{ elasticsearch_exporter_web_listen_address }} \
            -web.telemetry-path {{ elasticsearch_exporter_web_telemetry_path }} \
            {% if elasticsearch_exporter_es_ca is defined %}
            -es.ca {{ elasticsearch_exporter_es_ca }} \
            {% endif %}
            {% if elasticsearch_exporter_es_client_private_key is defined %}
            -es.client-private-key {{ elasticsearch_exporter_es_client_private_key }} \
            {% endif %}
            {% if elasticsearch_exporter_es_client_cert is defined %}
            -es.client-cert {{ elasticsearch_exporter_es_client_cert }}
            {% endif %}
            

[Install]
WantedBy=multi-user.target